/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==========Reset==========*/
* {
	margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/*==========Base==========*/
body {
	background: hsl(0, 0%, 100%);
	color: hsl(0, 0%, 0%);
}
section {
	width: 95%;
	margin-block-start: 1.5rem;
	margin-block-end: 1.5rem;
	padding-left: 1rem;
	padding-right: 1em;
}
h4 {
	margin-block-end: 1rem;
}

/*==========App==========*/
.greeting .title {
	display: flex;
}
.greeting .title input {
	margin-left: .5rem;
	flex: 1 1 0%;
	min-width: 0;
}
.greeting .title,
.greeting .title input {
	color: hsla(216, 84%, 58%, 0.75);
	font-size: 1.7rem;
	font-weight: 400;
}
.create-todo input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1rem;
	padding: 1rem 1.5rem;
	border-radius: .5rem;
	box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.548);
	margin-block-end: 2rem;
}
.create-todo .options {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-block-end: 2rem;
}
.create-todo .options label {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: .4rem;
	border-radius: .5rem;
	box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.548);
	cursor: pointer;
}
input[type="radio"],
input[type="checkbox"] {
	display: none;
}
.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 2px solid hsl(240, 26%, 26%);
}
.bubble.business {
	background: hsla(216, 84%, 58%, 0.75);
}
.bubble.personal {
	background: hsl(1, 100%, 67%);
}
.bubble::after {
	content: "";
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: hsl(0, 0%, 100%);
	border-radius: 50%;
	transition: 0.2s ease-in-out;
}
input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}
.create-todo .options label div {
	color: hsl(0, 0%, 0%);
	font-size: 1rem;
	margin-block-start: .5rem;
}
.create-todo input[type="submit"] {
	display: block;
	width: 100%;
	font-size: 1rem;
	padding: 1rem;
	color: hsl(0, 0%, 100%);
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: hsl(0, 0%, 0%);
	box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.548);
	border-radius: .5rem;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}
.todo-list .todo-item {
	display: flex;
	align-items: center;
	padding: .3rem;
	border-radius: .5rem;
	box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.548);
	margin-block-end: .7rem;
}
.todo-item label {
	display: block;
	margin-right: .5rem;
	cursor: pointer;
}
.todo-item .todo-content {
	flex: 1 1 0%;
}
.todo-item .todo-content input {
	color: hsl(0, 0%, 0%);
	font-size: 1rem;
}
.todo-item .actions {
	display: flex;
	align-items: center;
}
.todo-item .actions button {
	display: block;
	padding: .3rem;
	color: hsl(0, 0%, 100%);
	border-radius: .5rem;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}
.todo-item .actions .delete {
	background-color: hsl(0, 100%, 50%);
}
.todo-item.done .todo-content input {
	text-decoration: line-through;
	color: hsl(0, 100%, 50%);
}